body {
  text-align: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-size: 200px;   
}

main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

label {
  text-align: center;
  color: #fefefe;
  margin-top: 0;
  font-size: 20px;
  margin-top: 5px;
  padding: 4px 15px;
  background-color: #121212;
  border-radius: 4px;
}

input {
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 4px 15px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 25vh;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 36px; 
}

p {
  margin: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 22px; 
  background-color: #222222;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

p strong {
  font-weight: bold;
  font-size: 30px; 
}

button {
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 20px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Hide long text on small screens */
@media (max-width: 1000px) {
  p.long-text {
    display: none;
  }
}
