<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
<body>
    

<h2>Create a student</h2>

<form action="/students/create" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="school">School:</label><br>
    <input type="text" id="school" name="school"><br><br>
    <input type="submit" value="Submit">
  </form>
  

</body>
</html>