<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>Create a new student</title>
    </head>
<body>
    
<br><a href="/home"><button class="button">Home</button></a>
<h2>Create a student</h2>

<form action="/student/create" method="POST">
    <label for="name"><strong>Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="school"><strong></strong>School:</label><br>
    <input type="text" id="school" name="school"><br><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>