<html>
<head>
  <title>Welcome on the Web</title>
  <link rel="stylesheet" href="style_home.css">
</head>
<body>
  <div class="container">
    <div class="welcome-text">
      <h1>Welcome on the Web Programming website!</h1>
      <a href="/students"><button class="button">List of students</button></a>
      <a href="student/create"><button class="button">Create a new student</button></a>
      <a href="students/data"><button class="button">Data visualization</button></a>
    </div>
  </div>
</body>
</html>
